.form {
    max-width: 400px; /* Adjust form width as needed */
    margin: 0 auto; /* Center the form horizontally */
}
  
.button {
    margin-top: 20px; /* Add space between form and button */
}

.container{
    width: 100%;
}

.input{
    font-size: 16px;
    width: 100%;
}
